name: Build Flutter App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Nix
        uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-23.05

      - name: Build Flutter app
        run: nix-shell --run "cd quran_app && flutter build linux"

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: linux-build
          path: quran_app/build/linux/x64/release/bundle
